<html>
    <head>
        <title> Learning Django! </title>
        <meta charset="utf-8">
        {% comment %} <link rel="shortcut icon" type="imagex/png" href="./images/icon.ico"> {% endcomment %}
    </head>
    <body>
        <div align="center">
            
            {% if name %}
            <h1> Welcome, {{name}}! This is my brand new website to learn Django! </h1>
            {% else %}
            <h1> Welcome, Guest! This is my brand new website to learn Django! </h1>
            {% endif %}

        </div>
        <hr>

        <h2> Get to know more about me:</h2>
        
        <ul type="disc">
            <li>My name's Paulo Moita;</li>
            <li>I'm 19 years old;</li>
            <li>I go to college at ULBRA and study <b>Software Engineering;</b></li>
            <li>I'm currently working at Unimed Palmas at the IT sector;</li>
        </ul>
    </body>
</html>